
<div class="container">

  <div class="row align-items-center test">
    <div class="col-sm-5">
      <h2>Escuderías</h2>
      <div class="col">
        <ul>
          <li *ngFor="let escuderia of escuderias">
            <span>{{escuderia.nombre}}</span>
            <a routerLink="/escuderia/{{escuderia.id}}"> (Ver) </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-4">
      <img src="https://data.whicdn.com/images/134077739/large.jpg">
    </div>

    
  </div>

</div>