<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
      <a class="navbar-brand">FORTMULA1</a>

          <a class="nav-link" routerLink="/calendario">Campeonato</a>
          <a class="nav-link" routerLink="/lista-premio">Premios</a>
          <a class="nav-link" routerLink="/lista-escuderia">Escuderías</a>
          <!--<a class="nav-link" routerLink="/lista-piloto/:id">Pilotos</a>-->
          <!--<a class="nav-link" routerLink="/lista-apuestas/:id">Apuestas</a>-->
          <!--<a class="nav-link" routerLink="/perfil/:id">Mi Perfil</a>-->

  </div>
</nav>
