<app-navbar></app-navbar>

<!--The content below is only a placeholder and can be replaced.-->
<style>
  @import url('https://fonts.googleapis.com/css?family=Lato');
</style>
<body>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img src="https://cdn.dribbble.com/users/1159958/screenshots/2750841/mp4-6-gif.gif">
</div>
<h2>Explorar los siguentes: </h2>
<ul>
  <li>
    <h2>Campeonato</h2>
  </li>
  <li>
    <h2>Escuderias</h2>
  </li>
  <li>
    <h2>Autos</h2>
  </li>
</ul>
</body>
