<div class="PerfilCompleto">
    <app-navbar></app-navbar>

    <div class="container">

        <div class="row">
            
               <div class="profile">
                    <div class="avatar">
                        <img src="https://cdn1.iconfinder.com/data/icons/mix-color-4/502/Untitled-1-512.png" 
                          alt="Circle Image" class="img-raised rounded-circle img-fluid">
                    
                        <h3 class="title">Camila </h3>
                        <h6>Aficionad@</h6>

                        <h5>Correo: </h5>
                        <h5>Edad: </h5>
                        <h5>Descripcion: </h5>

                         
                    </div>
                </div>
            
        </div>

      
    </div>


</div>
