<div class="jumbotron">
  <div *ngIf="piloto && !editFlag">
    <div class="info">
      <div class="esto">
        <h1>{{piloto.nombre}}</h1>
        <hr>
        <p>Nacionalidad: {{piloto.nacionalidad}}</p>
        <p>Fecha de nacimiento: {{piloto.fecha_nacimiento}}</p>
      </div>
      <div class="img">
        <img src="{{piloto.foto}}" alt="foto">
      </div>
    </div>
    <div class="botones">
      <button class="btn btn-primary btn-lg" (click)="edit()">Editar</button>
      <button class="btn btn-primary btn-lg" (click)="deletePiloto()">Eliminar</button>
    </div>
    <div>
      <hr>
      <h3>Opina</h3>
      <form (ngSubmit)="makeComment()">
        <div class="form-group">
          <label for="comment">Comentario</label>
          <textarea name='comment' [(ngModel)]="comment" class="form-control" id="comment" placeholder="Ingresa tu comentario"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Comentar</button>
      </form>
    </div>
  </div>



  <div class="jumbotron" *ngIf="piloto && editFlag">
    <h3>Edición del piloto</h3>
    <form name="form" (ngSubmit)="editInfo()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputNombre">Nombre</label>
          <input name="inputNombre" [(ngModel)]="nuevo.nombre" type="text" class="form-control" id="inputNombre" #inputNombre="ngModel" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputNacionalidad">Nacionalidad</label>
          <input name="inputNacionalidad" [(ngModel)]="nuevo.nacionalidad" type="text" class="form-control" id="inputNacionalidad" #inputNacionalidad="ngModel" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputFecha">Fecha de nacimiento</label>
        <input name="inputFecha" [(ngModel)]="nuevo.fecha_nacimiento" type="date" class="form-control" id="inputFecha" #inputFecha="ngModel" required>
      </div>
      <div class="form-group">
        <label for="inputFoto">Foto</label>
        <input name="inputFoto" [(ngModel)]="nuevo.foto" type="text" class="form-control" id="inputFoto" #inputFoto="ngModel" required>
      </div>

      <button type="submit" class="btn btn-primary">Aceptar cambios</button>
      <button class="btn btn-primary" (click)="cancel()" >Cancelar</button>
    </form>
  </div>


</div>
<button class="btn btn-primary btn-lg volver" (click)="goBack()">Volver a premios</button>
