<div class="jumbotron">
    <div class="apuesta">
        <div class="form-group">
            <label for="formname">Elija un corredor</label>
            <select id="Pilotos" style="width: 100%;">
                <option *ngFor="let piloto of pilotos">{{piloto.nombre}}</option>
            </select>
            <button class="btn btn-primary btn-lg volver" (click)="goBack()">Hacer apuesta</button>
        </div>
        
        <div class="form-group">
            <label for="formname">Elija una escudería</label>
            <select id="Escuderias" style="width: 100%;">
                    <option *ngFor="let escuderia of escuderias">{{escuderia.nombre}}</option>
                </select>
            <button class="btn btn-primary btn-lg volver" (click)="goBack()">Hacer apuesta</button>
        </div>
        
  </div>
</div>
  