<div class="jumbotron">
    <div class="apuesta">
        <div class="form-group">
            <label for="formname">Elija un corredor</label>
            <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
              <button class="btn btn-primary btn-lg volver" (click)="goBack()">Hacer apuesta</button>
          </div>
  
          <div class="form-group">
              <label for="formname">Elija una escudería</label>
              <select class="form-control" id="sel1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
                <button class="btn btn-primary btn-lg volver" (click)="goBack()">Hacer apuesta</button>
            </div>
    </div>
  </div>
  